<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spatter {{ bucket_name }}</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div>
            <h3>Bucket Name: {{ bucket_name }}</h3>
            {% if parent %}
            <p><a href="/{{ parent }}/">..</a></p>
            {% else %}
            <p><a href="/">..</a></p>
            {% endif %}
            {% for key in keys %}
            <p><a href="/{{ key }}">{{ key }}</a></p>
            {% endfor %}
        </div>
        <footer class="navbar navbar-fixed-bottom">
            <p class="navbar-text">Spatter Apache 2.0</p>
        </footer>
    </div>
</body>
</html>
